
:root {
    --brown: #39311d;
    --light-brown:#d49a3a;
    --black-3: #000000;
    --white: #e8e8e8;
    --bg: #f3f0eb;
    --border: .1rem solid rgba(255, 255, 255, 0.3);
    --box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,.1);
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    border: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent !important;
}

html::-webkit-scrollbar-thumb {
    background: var(--brown);
    border-right: 5rem;
}

body {
    background: var(--bg);
}

section {
    padding: 2rem 7%;
}

.sub-heading{
    text-align: center;
     color: var(--light-brown);
     font-size: 1.5rem;
     padding-top: 1rem;
     text-align: center;
 }

.heading{
    text-align: center;
    color: var(--brown);
    font-size: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #ffffff;
    background: var(--light-brown);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

header {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-bottom: var(--border);
}

header .logo {
    color: #fff;
    font-size: 3rem;
    font-weight: bolder;
}

header .logo a{
    display: flex;
    align-items: center;
    font-size: 2rem;
}


header .logo:hover {
    color: var(--black-3);
    font-weight: bold;
}

header .logo span {
    color: var(--light-brown);
    font-size: 3rem;
    padding-left: .2rem;
}

header .logo h3 {
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
}

header .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--brown);
    padding: .5rem 1.5rem;
}

header .navbar a:hover {
    background-color: var(--light-brown);
    color: #fff;
}

header .icons i{
    font-size: 2.5rem;
    color: var(--brown);
    cursor: pointer;
    margin-right: 2rem;
}

header .icons i:hover {
    color: var(--light-brown);
}

header .search-bar-container {
    position: absolute;
    top: 100%; right: 0; left: 0;
    padding: 1.5rem 2rem;
    background-color: var(--light-brown);
    border-top: var(--border);
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .search-bar-container.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .search-bar-container #search-bar {
    width: 100%;
    padding: 1rem;
    text-transform: none;
    color: #333;
    font-size: 1.7rem;
    border-radius: .5rem;
}

header .search-bar-container label {
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1.5rem;
}

header .search-bar-container label:hover {
    color: var(--light-brown);
}

header .icons #menu-bar {
    display: none;
}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url("images/home-bg.jpg") no-repeat center;
    background-size: cover;
}

.home .content {
    max-width: 60rem;

}

.home .content h3 {
    font-size: 6rem;
    text-transform: capitalize;
    color: #fff;
    font-style: italic;
}

.home .content p {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.8;
    padding: 1rem 0;
    color: var(--black-3);
    text-transform: none;

}

.about {
    display: flex;
    flex-direction: wrap;
    gap: 1.5;
}

.about .content {
    flex: 1 1 30rem;
}

.about .content  h1 {
    font-size: 1rem;
    color: var(--light-brown);
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.about .content  h3 {
    font-size: 3rem;
    line-height: 1.5;
    color: var(--brown);
    text-transform: none;
    padding-bottom: 1rem;
}

.about .content  p {
    font-size: 2rem;
    color: var(--black-3);
    text-transform: none;
    padding-bottom: 1rem;
    padding-right: 5rem;
}

.about .content .box {
    display: flex;
    flex-wrap: wrap;
    gap: 2;
}

.about .content .box {
    flex: 1 1 30rem;
    position: relative;
    padding: 4rem;
    background-color: #fff;

}

.about form {
    flex: 1 1 40rem;
    max-width: 60rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    background: var(--brown);
    padding: 2rem;
    margin: 0 auto;
}

.about form .inputBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about form .inputBox .input {
    width: 70%;
    padding-bottom: 1rem ;
}


.about form .inputBox .input span {
    display: block;
    padding: 1rem 0;
    font-size: 1.2rem;
    color: var(--light-brown);
}

::placeholder {
    opacity: 0.5;
    color: var(--white);
}

.about form .inputBox .input input,
.about form .inputBox .input select {
    background: #433c29;
    padding: 1rem;
    font-size: 1.6rem;
    color: #fff;
    text-transform: none;
    margin-bottom: 1rem;
    width: 100%;
}

.about form .inputBox h1 {
    font-size: 1.5rem;
    color: var(--light-brown);
    padding-bottom: 2rem;
}

.about form .inputBox  span h3 {
    font-size: 2rem;
    color: var(--white);
    padding-top: 1rem;
}

.about form .btn {
    margin-top: 0;
}

.about form .inputBox .input input:focus {
    border: .1rem solid var(--light-brown);
}

.causes .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  
  .causes .box-container .box{
    flex: 1 1 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.3);
    cursor: pointer;

  }
  
  .causes .box-container .box .image{
    height:100%;
    width:100%;
    object-fit: cover;
    position: absolute;
    top: -100%; left:0;
  }
  
  .causes .box-container .box .content{
    text-align: center;
    background:#fff;
    padding:2rem;
  }
  
  .causes .box-container .box .content img{
    margin:1.5rem 0;
  }
  
  .causes .box-container .box .content h3{
    font-size: 2.5rem;
    color: var(--light-brown);
  }
  
  .causes .box-container .box .content p{
    font-size: 1.8rem;
    color: var(--black-3);
    padding: 1rem 0;
    text-transform: none;

  }
  
  .causes .box-container .box:hover .image{
    top:0;
  }
  
  .causes .box-container .box:hover .content{
    transform: translateY(100%);
  }

  .volunteers .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
  }

  .volunteers .box-container .box{
    text-align: center;
    padding:2rem;
    border:1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
    border-radius: .5rem;
    flex: 1 1 20rem;
    background: var(--brown);
    margin-top: 6rem;
  }
  
  .volunteers .box-container .box img{
    height: 12rem;
    width:12rem;
    border-radius: 50%;
    border:1rem solid #fff;
    margin-top: -8rem;
    object-fit: cover;
  }
  
  .volunteers .box-container .box h3{
    font-size: 2.5rem;
    color: var(--light-brown);
    padding: 1rem 0;
  }

  .volunteers .box-container .box h4{
    font-size: 1.5rem;
    color: var(--light-brown);
    padding: 1rem;
  }
  
  .volunteers .box-container .share a {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #ffffff;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
}

.volunteers .box-container .share a:hover {
    background: var(--light-brown);
}
  
.volunteers .box-container .box p{
    font-size: 1.5rem;
    color: var(--white);
    padding: 2rem 0;
    text-transform: none;
  }

  .review .slide {
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border: .1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    position: relative;
}

.review .slide .fa-quote-right {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 6rem;
    color: var(--light-brown);
}

.review .slide .user {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding-bottom: 1.5rem;
}

.review .slide .user img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .slide .user h3 {
    color: var(--black-3);
    font-size: 2rem;
    padding-bottom: .5rem;
}

.review .slide .user i {
    font-size: 1.3rem;
    color: var(--brown);
}

.review .slide p {
    font-size: 1.5rem ;
    line-height: 1.8;
    color: var(--brown);
}












































































/* Media Queries */
@media (max-width: 991px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    }
    
}

@media (max-width: 768px) {

    header .icons #menu-bar{
        display: initial;
    }


    .header .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background: #fff;
        border-top: .1rem solid rgba(255,255,255,.2);
        padding:1rem 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a {
        color: var(-brown);
        display: block;
        margin: 1.5rem 0;
        padding: 1.5rem;
        font-size: 2rem;
    }

    .header .search-form {
        height: 90%;
        right: 2rem;
    }

    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3 {
        font-size: 4.5rem;
    }

    .home .content p {
        font-size: 1.5rem;
      
    }

    .about .content .box {
        display: inline-block;
    }
}

@media (max-width: 450px) {

    html {
        font-size: 50%;
    }
    
}